# [bookleaf-serial]
CALI_SERVICES_ENABLE=event,aggregate,timestamp,recorder
CALI_LOG_VERBOSITY=1
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_RECORDER_FILENAME=caliper/caliper.cali
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_OFFSET=false
CALI_TIMER_TIMESTAMP=false
CALI_TIMER_INCLUSIVE_DURATION=false

# [bookleaf-mpi]
CALI_SERVICES_ENABLE=event,aggregate,timestamp,mpi,recorder
CALI_LOG_VERBOSITY=1
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_RECORDER_FILENAME=caliper/caliper-%mpi.rank%.cali
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_OFFSET=false
CALI_TIMER_TIMESTAMP=false
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_MPI_WHITELIST=all
